<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <BOT_TOKEN>telegram-bot-token</BOT_TOKEN>
    <DB_TYPE>SQL or SqLite</DB_TYPE>>
    <DB_HOST>host</DB_HOST>>
    <DB_USER>user</DB_USER>
    <DB_PW>password</DB_PW>>
    <DB_DB>database</DB_DB>>>
</configuration>