<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <BOT_TOKEN>443517088:AAFRdB049DzfGw-C7XslBNONb-ISaTMeKuM</BOT_TOKEN>
    <DB_TYPE>MySql</DB_TYPE>>
    <DB_HOST>192.168.2.10</DB_HOST>>
    <DB_USER>civibotti</DB_USER>
    <DB_PW>k6EXFRi4N9xa</DB_PW>>
    <DB_DB>civibotti</DB_DB>>>
</configuration>